# Node modules — teeno folders ke liye
node_modules/
**/node_modules/

# Environment files
.env
**/.env

# Uploads folder
social-server/uploads/

# Build folders
dist/
build/

# Logs
*.log
npm-debug.log*